TRELLO_API_KEY=
TRELLO_TOKEN=
TRELLO_BOARD_URL=h

# TRELLO_SEC=

# Database Configuration (Docker PostgreSQL)
DATABASE_URL=

# SendGrid Configuration
SENDGRID_API_KEY=your_sendgrid_api_key_here
SENDGRID_FROM_EMAIL=noreply@yourblog.com

# JWT Configuration
JWT_SECRET=c6e1b34234c7e0d72e9e42043a0c95b4f44e3f61f23ab762b0a68d062b51c5e1
JWT_EXPIRES_IN=5m

JWT_REFRESH_SECRET=eb05b47870c68304e573b30208f981f262a8dbcb47c7297a4f6f16967bfc570d
JWT_REFRESH_EXPIRES_IN=1d

PORT=3000