node_modules
# Keep environment variables out of version control
*.env
contracts/*.sol
dist
.idea
.DS_Store
yarn-error.log
deploy.sh
test.log
keys
test_logs
test.json
Brewfile
git-server.sh
test.js
test.ts

# Existing entries...
storage/wallets/*
!storage/wallets/.gitkeep

# Monero specific
*.keys
*.new.keys

coverage
*.local.*